# Home Directory
/.idea

# Nepse Data Collecter Cache Folders ...
/nepse_crawler/.idea
/nepse_crawler/nepse_crawler/__pycache__
/nepse_crawler/nepse_crawler/spiders/__pycache__

# Nepse Predictor Not to push Files ...
/neppredictor/.idea
/neppredictor/media
/neppredictor/db.sqlite3
/neppredictor/nepse/models.py
/neppredictor/nepse/views.py


# Developemental Stage Files not to be pushed ...
/nepse-data
/env
