.stock-image{
    background-image:
            linear-gradient(to bottom, rgba(245, 246, 252, 0.52),
            rgba(117, 19, 93, 0.73)), url("../img/contacts.jpg")
    !important;
}

.contact-form {
    padding: 10vh;
    border-radius: 5vh;
    border: 1px solid #f9004d;
    margin: 10vh auto;
    background-color: rgba(11, 11, 11, 0.5);
}

.form-control{
    background: transparent;
    color: white;
}

.form-control:hover{
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.form-control:focus{
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.input-group{
    border: 0px;
    border-radius: 5vh;
}

.input-group-text {
    background-color: rgba(249, 0, 77, 0.1);
    color: white;
    font-size: 20px;
    padding: 15px;
}

.btn-primary {
    margin-top: 3vh;
    border: 1px solid #f9004d;
    border-radius: 15px;
    background-color: #f9004d;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 15px;
    transition: ease 0.4s;
}

.btn-primary:hover{
    border-radius: 15px;
    background-color: rgba(249, 0, 77, 0.1);
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 15px;
    border: 1px solid #f9004d;
}

.head-contact {
    display: inline-block;

}

h1 {
    text-align: center;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 3vh;
    padding: 2px;
    position: relative;
    padding-bottom: 15px;
    color: white;
}

h1:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid red;
}